@import "_variables.scss";
@import "_reset.scss";
@import "_extend.scss";

.overall-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100vh;
  background-color: white;
  & > div {
    @extend %grid;
  }
  & > div > div {
    border: 0.1px solid $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
    font-size: 30px;
  }
  .overall-container__first {
    & > div:not(.no-cursor) {
      cursor: pointer;
      transition: all 0.1s ease-in;
      @extend %hover;
    }
  }
  .overall-container__second {
    & > div:nth-child(2) {
      grid-row: 2/-2;
    }
    & > div:nth-child(3) {
      justify-content: flex-start;
      overflow: hidden;

      & > p {
        text-transform: uppercase;
        user-select: none;
        // border: 1px solid black;
        white-space: nowrap;
        width: 1391px;
        display: flex;
        align-items: center;
        margin-left: 20px;
        @keyframes scrolling {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-1390px);
          }
        }
        animation: scrolling 20s linear infinite;
      }
    }
  }
  .overall-container__third {
    & > div:not(.overall-container__third__empty) {
      cursor: pointer;
      transition: all 0.1s ease-in;
      @extend %hover;
    }
  }
}
// {} 안에는 바로밑에 자식이나 & 나 nth-child 이런걸로 속성을 줄 때만 쓴다
//  클래스 이름을 콕 찝어서 쓸 때는 밖에다가 쓴다

// 이거와 같이 클래스 이름을 콕 집어서 속성을 줄 때는 {} 밖에다가
// 속성을 준다
.overall-container__first__circle {
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $main-color;
    border-radius: 100%;
    width: 25px;
    font-weight: bold;
    height: 25px;
    color: $main-color;
    font-size: 16px;
    user-select: none;
  }
  & > div:nth-child(2) {
    & > span {
      font-weight: normal;
      font-size: 32px;
      transform: translateY(-2px);
    }
  }
}
.overall-container__third__menu {
  text-transform: uppercase;
}
