@import "_variables.scss";
@import "_reset.scss";
body {
  height: 200vh;
}
.header {
  background-color: #f0f0f0;
  width: 33%;
  box-sizing: border-box;
  height: 100vh;
  padding: 88px 150px 60px 72px;
  position: fixed;
}
.header__h1 {
  font-size: 70px;
  color: $main-color;
  margin-bottom: 110px;
  width: 375px;
}
.header__h2 {
  font-size: 23px;
  color: $main-color;
  margin-bottom: 35px;
}
.header__p {
  font-size: 18px;
  color: $main-color;
  margin-bottom: 35px;
}
.header__nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__nav ul li {
  margin-right: 10px;
}
.header__nav a {
  padding: 5px 0;
  display: block;
  color: rgb(114, 104, 104);
}
.header__bottom {
  font-size: 10px;
  margin-top: 30px;
  color: rgba(114, 114, 114, 0.9);
  font-weight: bold;
}
.main {
  width: 100%;
  padding-left: 33%;
  box-sizing: border-box;
  background-color: $main-color;
  padding-top: 140px;
}
.main__second-div {
  padding: 60px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  width: 70%;
  box-sizing: border-box;
  position: fixed;
  text-align: center;
  top: 0;
  background-color: $main-color;
  opacity: 0.9;
}
.main__second-div a {
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.6);
}
.main__li {
  padding: 115px 145px;
}
.main__container__first {
  display: flex;
  color: white;
  align-items: flex-end;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
      padding: 3px;
      border-radius: 5px;
      font-size: 35px;
      background-color: #da281b;
    }
    h1 {
      font-size: 50px;
      margin-right: 10px;
    }
  }
}

.video {
  width: 845px;
  height: 475px;
  border: 1px solid black;
  margin: 55px 0;
}
.main__container__second {
  div:nth-child(2) {
    width: 50%;
    margin-left: auto;
    color: white;
    font-size: 17px;
    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 25px;
      span:nth-child(2) {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
.main__container__third {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  color: rgba(0, 0, 0, 0.5);
  span:nth-child(2) {
    a {
      padding-bottom: 12px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
    }
    i {
      margin: 0 5px;
    }
  }
}
